<div class="container">
  <h1>Areas</h1>

  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Recipes</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @areas.each do |area| %>
        <tr>
          <td><%= area.name %></td>

          <td><%= area.recipes.count %></td>

          <td>
            <%= link_to "Show Recipes", area_path(area), class: "btn btn-green" %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>