/*
 * This is a manifest file that'll be compiled into application.css.
 *
 * With Propshaft, assets are served efficiently without preprocessing steps. You can still include
 * application-wide styles in this file, but keep in mind that CSS precedence will follow the standard
 * cascading order, meaning styles declared later in the document or manifest will override earlier ones,
 * depending on specificity.
 *
 * Consider organizing styles into separate files for maintainability.
 */
/* Layout */
.container {
  max-width: 1000px;
  margin: 40px auto;
  padding: 0 20px;
}

/* Headings */
h1 {
  font-size: 36px;
  margin-bottom: 20px;
}

h2 {
  margin-top: 30px;
  margin-bottom: 10px;
}

/* Table */
table {
  width: 100%;
  border-collapse: collapse;
  background: white;
}

thead {
  border-bottom: 2px solid #ddd;
}

th, td {
  padding: 12px;
  text-align: left;
}

tbody tr {
  border-bottom: 1px solid #eee;
}

/* Buttons */
.btn {
  padding: 6px 12px;
  border-radius: 4px;
  text-decoration: none;
  font-size: 14px;
}

.btn-green {
  border: 1px solid green;
  color: green;
}

.btn-green:hover {
  background: green;
  color: white;
}

.tag {
  display: inline-block;
  padding: 4px 8px;
  margin-right: 6px;
  margin-top: 4px;
  font-size: 12px;
  background: #f0f0f0;
  border-radius: 4px;
  text-decoration: none;
  color: #333;
}

.tag:hover {
  background: #007bff;
  color: white;
}

.recipe-thumb {
  width: 80px; 
  height: 80px; 
  object-fit: cover; 
  border-radius: 6px;
}

.pagination-container {
  text-align: right;
  margin: 15px 0;
}

.pagination {
  display: inline-flex;
  padding: 0;
  margin: 0;
  list-style: none;
  border: 1px solid #ddd;
  border-radius: 4px;
  overflow: hidden;
}

/* Remove spacing between items */
.pagination li {
  margin: 0;
  padding: 0;
  display: flex; /* 👈 important */
}

/* Make ALL cells equal size */
.pagination a,
.pagination span {
  display: flex;
  align-items: center;
  justify-content: center;

  min-width: 50px;
  height: 32px; 

  /* padding: 0 6px;  */

  border: none;                 /* 👈 remove default borders */
  border-right: 1px solid #ddd; /* 👈 only RIGHT border */

  text-decoration: none;
  color: #007bff;
  font-size: 13px; 
  background: white;
}

/* Remove last border */
.pagination li:last-child a,
.pagination li:last-child span {
  border-right: none;
}

/* Hover */
.pagination a:hover {
  background: #f5f5f5;
}

/* Active page */
.pagination .current {
  background: #0d6efd;
  color: white;
  border-right: 1px solid #0d6efd;
}

/* Disabled */
.pagination .disabled {
  color: #aaa;
  background: #f9f9f9;
}