<div class="container">
  <h1><%= @category.name %> Category</h1>

  <h2>Recipes in Category:</h2>

  <table class="recipe-table">
    <thead>
      <tr>
        <th style="width: 100px;">Image</th>
        <th>Name</th>
      </tr>
    </thead>

    <tbody>
      <% @recipes.each do |recipe| %>
        <tr>
          <td>
            <% if recipe.img_url.present? %>
              <img src="<%= recipe.img_url %>" class="recipe-thumb">
            <% end %>
          </td>

          <td>
            <%= link_to recipe.name, recipe_path(recipe), class: "recipe-link" %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>

  <%= link_to "← Back to Categories", categories_path %>
</div>